head{}
header{}

.leftbox{
	border:1px solid black;
	margin-right: 55%;
	display:block;
};
.artist{}
.album{}
.genre > li{
		list-style-type: none;	
}
.left{}
.right{}
.rightbox{
	border:1px solid black;
	padding: 50px 50px 50px 50px;

	}
