.super{
	display:flex;
	justify-content:center;
}

.topbox{
	flex-grow:1;
	margin: 5% 0% 0% 0%; 
	border: 2px solid black;
	background-color: #FFB4B0;
	display:block;
	text-align: center;
}

.leftbox{
	width: 20%;
	flex-grow:1;
	border: 2px solid black;
	background-color: #4DD7FA;
	display:inline-block;
	margin:1%;
}

.leftbox li{
	list-style-type: none;
}


div.genre {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 2;
}



.left{
	text-indent: 
}

.right{
	text-indent: 50%;
	text-align: right;
}







li.genre{
	text-indent: 5%;
}

.rightbox{
	width: 70%; 
	flex-grow:1;
	align-self: auto;
	border: 2px solid black;
	background-color: #FEFAC0;
	display:inline-block;
	list-style-type: none;
	text-align: left;
	text-indent: 5%;
	margin:1%;

}

.rightbox h2{
	color:#785616;
	font-weight: 500;
	font-size: 140%;
	font-family: Arial;
}

input[type="range"] {
  width: 75%;
  height: 10px;
  border: 3px solid black;
}

/*
.bottombox{
	height: 10px, 10px, 10px, 10px;
	width: 10px, 10px, 10px, 10px;
	border: 3px solid black;

}